.paginator {
  user-select: none;
  width: 60%;
}

.paginator__page-button {
  display: inline-block;
  min-width: 25px;
  border: 1px solid black;
  background-color: #777;
  padding: 5px;
  margin: 0px 2px;
  cursor: pointer;
  color: #fff;
}

.paginator__page-button:hover {
  background-color: #aaa;
}

.paginator__page-button--current {
  background: conic-gradient(from 45deg, gold, #0ac, gold);
  color: #000;
}

.paginator, .paginator__page-info {
  position: relative;
  padding: 3px;
  margin: 10px 0px;
}

.paginator__page-info {
  font-weight: bold;
}